a {
  text-decoration: none;
  color: var(--text-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--backgroun-color);
  padding: 8px 12px;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 10%;
}

.navbar__menu li {
  padding: 8px 20px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 20px;
  font-size: 24px;
  color: var(--accent-color);
}

.navbar__logo {
  font-size: 32px;
  color: white;
  padding-left: 40%;
}

.navbar__logo i {
  color: white;
  text-shadow: 2px 4px 2px black;}



[name="slide"] {display:none;}
.slidebox {max-width:800px;width:100%;margin:0 auto;text-align:center;}
.slidebox img {max-width:100%;}
.slidebox .slidelist {
	white-space:nowrap;
	font-size:0;
	overflow:hidden;
}
.slidebox .slideitem {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:100%;
	transition:all .35s;
}
.slidebox .slideitem label {
	position:absolute;
	z-index:1;
	top:50%;
	transform:translateY(-50%);
	padding:20px;
	border-radius:50%;
	cursor:pointer;
}
label.left {
	left:20px;
	background-color:#5F5F5F;
	background-image:url('./img/left-arrow.png');
	background-position:center center;
	background-size:50%;
	background-repeat:no-repeat;
}
label.right {
	right:20px;
	background-color:#5F5F5F;
	background-image:url('./img/right-arrow.png');
	background-position:center center;
	background-size:50%;
	background-repeat:no-repeat;
}
.paginglist {text-align:center;padding:30px 0;}
.paginglist > li {display:inline-block;vertical-align:middle;margin:0 10px;}
.paginglist > li > label {display:block;padding:10px 30px;border-radius:10px;background:#ccc;cursor:pointer;}
.paginglist > li:hover > label {background:#333;}

[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0);animation:slide01 20s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation:slide02 20s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%);animation:slide03 20s infinite;}



@keyframes slide01 {
	0% {left:0%;}
	33% {left:0%;}
	34% {left:-100%}
	66% {left:-100%;}
	67% {left:-200%;}
	99% {left:-200%;}
	100% {left:0%;}
}

@keyframes slide02 {
	0% {left:0%;}
	33% {left:0%;}
	34% {left:-100%;}
	66% {left:-100%;}
	67% {left:100%;}
	99% {left:100%;}
	100% {left:0%;}
}

@keyframes slide03 {
	0% {left:0%;}
	33% {left:0%;}
	34% {left:200%;}
	66% {left:200%;}
	67% {left:100%;}
	99% {left:100%;}
	100% {left:0%;}
}


.a1{

   width: 100%;
   height: 450px;
}

#q1{
   width: 45%;
   height: 450px;
   float: left;
   padding-left: 3%;
}

#q2{
   width: 50%;
   height: 400px;
   border-radius: 30px;
   background: #E6DFDD;
   margin-top: 25px;
   float: right;
}

.a2{
   width: 100%;
   height: 450px;
}

#q3{
  width: 50%;
  height: 400px;
  border-radius: 30px;
  background: #E6DFDD;
  margin-top: 25px;
  float: left;
}

#q4{
   width: 45%;
   height: 450px;
   padding-left: 3%;
   float: left;
}

.a3{

   width: 100%;
   height: 450px;
}

#q5{
   width: 45%;
   height: 450px;
    float: left;
    padding-left: 3%;
}

#q6{
  width: 50%;
  height: 400px;
  border-radius: 30px;
  background: white;
  margin-top: 25px;
  float: right;
}

#q14{
  width: 50%;
  height: 400px;
  border-radius: 30px;
  background: white;
  margin-top: 25px;
  float: right;
  background: #E6DFDD;
}

#q15{
  width: 50%;
  height: 400px;
  border-radius: 30px;
  background: white;
  margin-top: 25px;
  float: left;
  background: #E6DFDD;
}

#q16{
  width: 50%;
  height: 400px;
  border-radius: 30px;
  background: white;
  margin-top: 25px;
  float: right;
  background: #E6DFDD;
}



.a4{
  background: #E6DFDD;
    width: 100%;
   height: 500px;

}

#q7{
   width: 35%;
   height: 400px;
   float: left;
   margin-left: 10%;
   margin-top: 3%;
   background-color: white;
   border-radius: 10px;
   background-image: url(./img/a4.png);
}

#q8{
   width: 35%;
   height: 400px;
   float: right;
   margin-right: 10%;
   margin-top: 3%;
   background-color: white;
   border-radius: 10px;
   background-image: url(./img/a5.png);
}

#q9{
   width: 35%;
   height: 400px;
   float: left;
   margin-left: 10%;
   margin-top: 3%;
   background-color: white;
   border-radius: 10px;
   background-image: url(./img/a6.png);
}

#q10{
   width: 35%;
   height: 400px;
   float: right;
   margin-right: 10%;
   margin-top: 3%;
   background-color: white;
   border-radius: 10px;
   background-image: url(./img/a7.png);
}

.a5 > #bb {width: 18%; margin: 1%; height: 180px; background-color: #E6DFDD; float: left; border-radius: 10px;}
.a5 {
   overflow: hidden;
   padding: 5%;
   width: 90%;
   height: 250px;
   background-color: #F0EDEC;
}
#bb:hover {background: #96A9AE;}

.one {
         border: 1px solid #F0EDEC;
         background-color: #D86050;
         width: 350px;
         height:350px;
         border-radius: 50%;
         margin-top: 5%;
         margin-left: 36%;
        }


        #w1{
           width: 100%;
           height: 450px;
           margin-top: 15%;
        }

        #w2{
           width: 35%;
           height: 300px;
           float: right;
           margin-right: 10%;
           margin-top: 5%;
           text-align: left;
        }

        #w3{
           width: 35%;
           height: 300px;
           float: left;
           margin-left: 8%;
           margin-top: 1%;
           text-align: right;
        }

       .bbb{
         width: 100%;
        height: 400px;
        margin-top: 20%;
       }


        #w4{
           width: 30%;
           height: 300px;
           float: left;
           margin-left: 20%;
           background-color: white;
           border-radius: 10px;
            background-image: url(./img/q13.png);
        }

        #w5{
           width: 30%;
           height: 300px;
           float: right;
           margin-right: 15%;
           margin-top: 10%;
           background-color: white;
           border-radius: 10px;
           background-image: url(./img/q14.png);
        }

        #w6{
           width: 30%;
           height: 300px;
           float: left;
           margin-left: 20%;
           margin-top: 10%;
           background-color: white;
           border-radius: 10px;
           background-image: url(./img/q15.png);
        }

        #w7{
           width: 30%;
           height: 300px;
           float: right;
           margin-right: 15%;
           margin-top: 10%;
           background-color: white;
           border-radius: 10px;
           background-image: url(./img/q16.png);
        }
        #w8{
          border: 1px solid #F0EDEC;
          background-color: #D86050;
          width: 350px;
          height:350px;
          float: left;
          border-radius: 50%;
          margin-top: 15%;
          margin-left: 36%;

        }

        #w9{
           width: 30%;
           height: 400px;
           float: left;
           margin-left: 20%;
           margin-top: 10%;
           background-color: white;
           border-radius: 10px;
        }

        #w10{
           width: 30%;
           height: 400px;
           float: right;
           margin-right: 15%;
           margin-top: 10%;
           background-color: white;
           border-radius: 10px;
        }














@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 8px 12px;
  }

  .navbar__logo {
    font-size: 32px;
    color: white;
    padding-right: 60%;
  }

  .navbar__menu {
    display: none;
    flex-direction: row;
    width: 100%;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active{
    display: flex;
  }
  #q7 {
    width: 45%;
    height: 350px;
    margin-left: 3%;
  }
  #q8 {
    width: 45%;
    height: 350px;
    margin-right: 3%;
  }
  #q9 {
    width: 45%;
    height: 350px;
    margin-left: 3%;
  }
  #q10 {
    width: 45%;
    height: 350px;
    margin-right: 3%;
  }
  .a1{
     width: 100%;
     height: 600px;
  }

  #q2{
     width: 50%;
     height: 550px;
     border-radius: 30px;
     background: #E6DFDD;
     margin-top: 25px;
     float: right;
  }

  .a2{
     width: 100%;
     height: 600px;
  }

  #q3{
    width: 50%;
    height: 550px;
    border-radius: 30px;
    background: #E6DFDD;
    margin-top: 25px;
    float: left;
  }

  .a3{
     width: 100%;
     height: 600px;
  }

  #q6{
    width: 50%;
    height: 550px;
    border-radius: 30px;
    background: #E6DFDD;
    margin-top: 25px;
    float: right;
  }

  .a5 {
     overflow: hidden;
     padding: 5%;
     width: 90%;
     height: 600px;
     background-color: #F0EDEC;
  }

  .a5 > #bb {width: 40%;}
  .a5  > #bb:nth-child(5) {display: block;}

  .one {
           border: 1px solid #F0EDEC;
           background-color: #D86050;
           width: 350px;
           height:350px;
           border-radius: 50%;
           margin-top: 5%;
           margin-left: 16%;
          }

}
#w1{
   width: 100%;
   height: 200px;
   margin-top: 15%;
}
#w4{
   width: 30%;
   height: 300px;
   float: left;
   background-color: white;
   border-radius: 10px;
}

#w5{
   width: 30%;
   height: 300px;
   float: right;
   margin-top: 10%;
   background-color: white;
   border-radius: 10px;
}

#w6{
   width: 30%;
   height: 300px;
   float: left;
   margin-top: 10%;
   background-color: white;
   border-radius: 10px;
}

#w7{
   width: 30%;
   height: 300px;
   float: right;
   margin-top: 10%;
   background-color: white;
   border-radius: 10px;
}
#w8{
  border: 1px solid #F0EDEC;
  background-color: #D86050;
  width: 350px;
  height:350px;
  float: left;
  border-radius: 50%;
  margin-top: 15%;
  margin-left: 30%;

}
#w9{
   width: 30%;
   height: 400px;
   float: left;
   margin-left: 15%;
   margin-top: 10%;
   background-color: white;
   border-radius: 10px;
}

#w10{
   width: 30%;
   height: 400px;
   float: right;
   margin-right: 15%;
   margin-top: 10%;
   background-color: white;
   border-radius: 10px;
}
